* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
header.top {
	background-color: #223047;
}
h1.logo {
	color: white;
	padding: 20px 0px 20px 50px;
}
main.content {
	margin: 50px 100px 0px 100px;
}
table.table {
	margin: 20px 0px 20px 0px;
}
button.AddNewRow {
	float: right;
}
